In [1]:
import sys
from SPARQLWrapper import SPARQLWrapper, JSON, RDF, XML
from pandas import json_normalize
import pandas as pd
from rdflib import URIRef, BNode, Literal
from rdflib import Namespace
from urllib.parse import quote

In [2]:
### http://UPS-SCLAB-04:7200/repositories/PracticaFinal
endPoint = "https://dbpedia.org/sparql"
sparql = SPARQLWrapper(endPoint)

In [3]:
def get_results(query):
    sparql.setReturnFormat(JSON)
    sparql.setQuery(query)
    results = sparql.query().convert()
    return(results)

In [4]:
def receive_broaders_lists(list_broaders):

    for i in list_broaders:
      
        resource = quote(i)
        query = """
        PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
        PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
        PREFIX dct: <http://purl.org/dc/terms/>

        select distinct ?w
            {
                {VALUES (?r) {(dbc:%s)}

                    ?subject dcterms:subject ?r.
                    ?subject foaf:isPrimaryTopicOf ?w.


                FILTER (!regex(?w, "lists"))
            }
    
        }    
        """%(resource)

    resultados = get_results(query)
    df_consulta1 = json_normalize(resultados["results"]["bindings"])
    return df_consulta1

In [6]:
lista = ["Waste","Pollution_control_technologies","Electronic_waste"]
resultados = receive_broaders_lists(lista)

In [7]:
print(type(resultados))

<class 'pandas.core.frame.DataFrame'>

In [8]:
resultados

   w.type                                            w.value
0     uri      http://en.wikipedia.org/wiki/Electronic_waste
1     uri            http://en.wikipedia.org/wiki/E-Stewards
2     uri           http://en.wikipedia.org/wiki/Techreturns
3     uri    http://en.wikipedia.org/wiki/Global_waste_trade
4     uri      http://en.wikipedia.org/wiki/Closing_the_Loop
5     uri   http://en.wikipedia.org/wiki/Computer_liquidator
6     uri       http://en.wikipedia.org/wiki/Demanufacturing
7     uri  http://en.wikipedia.org/wiki/Solving_the_E-was...
8     uri    http://en.wikipedia.org/wiki/MyGreenElectronics
9     uri     http://en.wikipedia.org/wiki/Disposable_camera
10    uri   http://en.wikipedia.org/wiki/ADISA_certification
11    uri   http://en.wikipedia.org/wiki/Metech_Incorporated
12    uri          http://en.wikipedia.org/wiki/Urban_mining
13    uri  http://en.wikipedia.org/wiki/World_Reuse,_Repa...
14    uri      http://en.wikipedia.org/wiki/Take-back_system

In [11]:
# Filter the columns that are of interest.
resultados = resultados[['level.value', 'r.value', 'c1.value']]

resultados.head(3)

,level.value,r.value,c1.value
0,3,http://dbpedia.org/resource/Category:Electroni...,http://dbpedia.org/resource/Category:Computer_...
1,3,http://dbpedia.org/resource/Category:Electroni...,http://dbpedia.org/resource/Category:Electroni...
2,3,http://dbpedia.org/resource/Category:Electroni...,http://dbpedia.org/resource/Category:Electroni...

In [12]:
# Assuming your DataFrame is named df and you want to transform the 'column_name' column
column_list = resultados['c1.value'].tolist()

# Display the resulting list
print(column_list)

['http://dbpedia.org/resource/Category:Computer_recycling', 'http://dbpedia.org/resource/Category:Electronic_waste_in_Africa', 'http://dbpedia.org/resource/Category:Electronic_waste_in_Europe', 'http://dbpedia.org/resource/Category:Electronic_waste_in_Asia', 'http://dbpedia.org/resource/Category:Electronic_waste_by_country']